<div class="wrapper">
  <div class="sidebar">
    <h2>teach_me</h2>
    <ul>
      <li><a href="/">
        <mat-icon>home</mat-icon> Home</a></li>
      <li><a href="/">
        <mat-icon>local_library</mat-icon> Decks</a></li>
      <li><a href="cards">
        <mat-icon>sell</mat-icon> Cards</a></li>
    </ul>
  </div>
  <div class="main_content">
    <div class="header">
      <button mat-raised-button style="margin-right: 5px;"><mat-icon>local_library</mat-icon> ADD DECK</button>
      <button mat-raised-button><mat-icon>sell</mat-icon> ADD CARD</button>

    </div>
    <div class="info">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>