<div class="wrapper">
  <div class="sidebar">
    <h2>teach_me</h2>
    <ul>
      <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>
          Home</a></li>
      <li><a href="#"><i class="fa fa-bandcamp" aria-hidden="true"></i>
          Decks</a></li>
      <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i>
          Cards</a></li>
    </ul>
  </div>
  <div class="main_content">
    <div class="header">latest decks:</div>
    <div class="info">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>